body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.calculator {
    background-color: #fff;
    border-radius: 0.5em;
    padding: 1.25em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

.display {
    width: calc(100% - 0.625em);
    padding: 0.625em;
    margin-bottom: 0.625em;
    font-size: 1.5em;
    border: none;
    border-radius: 0.5em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625em;
}

button {
    padding: 0.625em;
    font-size: 1.125em;
    border: none;
    border-radius: 0.5em;
    background-color: #e0e0e0;
    cursor: pointer;
}

button:hover {
    background-color: #d0d0d0;
}

.operator {
    background-color: #ff9900;
    color: #fff;
}